body{
    background-color: #E6E5E2;
    color:rgb(70, 70, 70);
}
.header{
    display: flex;
    background-color: #4D4535;
    height: 0vh;
}
.header h1{
    margin-left: 90%;
    color: #FBFCFD;
}
.table_area{
    overflow-y: scroll;
    /* height: 100vh; */
    height:65vh;
    border: solid 2px #4D4535;
    border-radius: 3px;
}
th,td{
    border: solid 1px #4D4535;
    /* white-space:nowrap; */
    max-width:35em;
    min-width:2em;
    word-break:keep-all
}
tr{
    background-color: #FBFCFD;
    cursor: pointer;
}
th{
    cursor: default;
    position:sticky;
    top:0;
    left:0;
    background-color: #FBFCFD;
}
#info_image{
    width:20px;
    margin-left: 95%;
    cursor: pointer;
}
#info_direct{
    position: absolute;
    display: none;
    background-color: rgb(70, 70, 70);
color:white;
padding:20px;
}
.main{
    /* display: flex; */
    margin:0px 0px 0px 0px;
    /* height: 85vh; */
}
.answer_area{
    border: solid 3px #4D4535;
    padding:0px 10px 0px 10px;
    margin-top: 10px;
    margin-right: 0px;
    width:30%;
    background-color: white;
}
.is_true_box{
    border: solid 3px #4D4535;
    padding:0px 10px 0px 10px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
    width:25%;
}
#list_img{
    width:4%;
    height:9%;
    margin-left:25%;
    margin-top:1%;
    cursor: pointer;
    position: absolute;
}
.list_flex{
    display: flex;
}
#list_area{
    position: absolute;
    display: none;
    background-color: rgb(70, 70, 70);
color:white;
padding:10px;    
margin-left:30%;
margin-top:-20%;
}
#close_btn {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
#close_btn::before, #close_btn::after{
    content: "";
    position: absolute;
    top: 20px;
    left: 260px;
    width: 5px; /* 棒の幅（太さ） */
    height: 25px; /* 棒の高さ */
    background: white;
}
#close_btn::before {
    transform: translate(-50%,-50%) rotate(45deg);
  }
   
  #close_btn::after {
    transform: translate(-50%,-50%) rotate(-45deg);
  }
.answer_area h2{
    text-align: center;
}
.answer_box{
    display: flex;
}
.answer_box2{
    display: flex;
}
/* .answer_select{
    position: absolute;
} */
.btn_flex{
    display: flex;
}
#answer_btn{
    display: block;
    background-color: #28A6A5;
    width:fit-content;
    transition: background-color 0.3s, transform 0.3s;
    padding: 20px 10px 0px 10px;
    text-align: center;
    border-color: aliceblue;
    box-shadow: 0 7px 0 #175e5e;
    border-radius: 60px;
    cursor: pointer;
    margin-top: -10px;
    height:40px;
    white-space:nowrap;
}
#answer_btn:hover{
    background-color: #28A6A5;
    box-shadow: none;
    transform: translateY(4px);
}
#final_answer{
    display: block;
    background-color: #e6b136;
    width:fit-content;
    transition: background-color 0.3s, transform 0.3s;
    padding: 0px 10px 0px 10px;
    text-align: center;
    border-color: aliceblue;
    box-shadow: 0 7px 0 #6b4d09;
    border-radius: 60px;
    cursor: pointer;
    margin-top: -10px;
    margin-left: 50px;
    height:fit-content;
    white-space:nowrap;
}
#final_answer:hover{
    box-shadow: none;
    transform: translateY(4px);
}
#suspicious_type{
    width:80%;
}
#isTrue{
    color:#28A6A5;
}
#user_answer{
    border-bottom: solid 2px #28A6A5;
}
.condition{
    border: solid 3px #4D4535;
    padding:0px 10px 0px 10px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
    width:40%;
}
/* #dictionary p{
    background-color: #dbf9fc;
padding: 5px;
border-radius: 10px;
width:25%;
}
#dictionary_menu{
    gap:10px;
} */
#dictionary{
    display: flex;
    background-image: url(note.png);
    width:65%;
}
/* #dictionary_text{
    width:500px;
    background-color: #dbf9fc;
} */

html {
    scroll-behavior: smooth;
  }
  a{
    text-decoration: none;
    color:rgb(70, 70, 70);
  }
  #your_score{
    color:#28A6A5;
  }
  #correct_rate{
    color:#28A6A5;
  }